@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

.body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 600px;
    padding: 40px;
    background-color: #2b2d42;
    border-radius: 5px;
}

.inputsContainer{
    margin-top: 20px;
    display: flex;
    gap: 40px;
}

.inputContainer1{
    display: flex;
    justify-content: center;
}

.inputSoon{
    position: relative;
}

.inputSoon1{
    margin-top: 20px;
    position: relative;
    width: 150px;
}

.selectContainer{
    text-align: center;
    position: relative;
    margin-top: 20px;
}

.nameTemp{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 0.7em;
    color: #edf2f4;
    position: absolute;
    top: 0;
    right: 45px;
    margin-top: -17px;
}

.nameInput{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 0.7em;
    color: #edf2f4;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -17px;
}

.inputOk{
    height: 30px;
    width: 150px;
    padding-left: 15px;
    padding-right: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid grey;
    border-radius: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    transition: all ease 300ms;
}

.inputOk:focus,
.inputOk:not(:placeholder-shown){
    border-bottom: 2px solid rgb(52, 235, 52);
}

.inputBad{
    height: 30px;
    width: 150px;
    padding-left: 15px;
    padding-right: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid grey;
    border-radius: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    transition: all ease 300ms;
}

.inputBad:focus,
.inputBad:not(:placeholder-shown){
    border-bottom: 2px solid rgb(255, 45, 45);
}

.falseText{
    margin-top: 2px;
    color: #2b2d42;
    font-size: 0.7em;
}

.cont{
    display: flex;
    justify-content: center;
}

.tempsText{
    background-color: #edf2f4;
    color:#2b2d42;
    max-width: 300px;
    border-radius: 5px;
    padding: 10px 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    margin-bottom: 15px;
}

.select{
    background-color: rgb(219, 219, 219);
    height: 32px;
    max-width: 200px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.buttonContainer{
    margin-top: 20px;
    margin-bottom: 20px;
}

.button{
    text-decoration: none;
    color: rgb(237, 242, 244);
    font-size: 0.8em;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-style: italic;
    background-color: rgb(239, 35, 60);
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease;
    margin: 0 15px 0 15px ;
}

.button:hover{
    background-color: rgb(217, 4, 41);
}

.button[disabled]{
    background-color: #b1b1b1;
    color: #7a7a7a;
    cursor: no-drop;
    transition: none;
}

.errorText{
    color: red;
    margin-top: 2px;
    font-size: 0.7em;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.statusText{
    color: green;
    margin-top: 2px;
    font-size: 0.8em;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.buttonHome{
    text-decoration: none;
    color: rgb(237, 242, 244);
    font-size: 1em;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-style: italic;
    background-color: rgb(239, 35, 60);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease;
    position: absolute;
    right: 30px;
    top: 30px;
}

.buttonHome:hover{
    transform: translateY(-5%);
    background-color: rgb(217, 4, 41);
    box-shadow: 2px 2px 6px rgba(199, 43, 64, 0.4);
}